<div class="container">
  <h3 class="mb-4">Chatting Feature</h3>
  <div class="chat-frame" #scroll>
    <div *ngFor="let m of message" class="mt-2">
      <div class="info">
        <span class="badge badge-info">{{m.user}}</span>
        <span class="badge badge-default">{{m.time}}</span>
      </div>
      <div class="form-control">{{m.value}}</div>
    </div>
  </div>
  <div *ngIf='_isTyping && (_sbTyping != currentUser.email)'>{{_sbTyping}} is typing ...</div>
  <form [formGroup]="chatForm">
    <div class="form-group form-inline mt-5">
      <input style="width: 80%" class="form-control mr-2" type="text" placeholder="Your message" formControlName="value">
      <button class="btn btn-primary" (click)="onNewMessage(chatForm.value)">Send</button>
    </div>
  </form>
</div>

