
<h4 style="color: cornflowerblue">Edit book</h4>
<div *ngIf="this.bookService.bookSelected">
  <form [formGroup]="editForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" formControlName="title">
      <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)"
           class="alert alert-danger">
        <div *ngIf="editForm.get('title').errors.required">
          Title is required.
        </div>
      </div>
      <label for="description">Description</label>
      <textarea style="height: 200px;" class="form-control" type="text" id="description" formControlName="description"></textarea>
      <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)"
           class="alert alert-danger">
        <div *ngIf="editForm.get('description').errors.required">
          Description is required.
        </div>
      </div>
      <label for="pageCount">Pages count</label>
      <input class="form-control" type="number" id="pageCount" formControlName="pageCount">
      <div *ngIf="editForm.get('pageCount').invalid && (editForm.get('pageCount').dirty || editForm.get('pageCount').touched)"
           class="alert alert-danger">
        <div *ngIf="editForm.get('pageCount').errors.required">
          Pages count is required.
        </div>
      </div>
    </div>
  </form>
  <a class="btn btn-danger float-right" (click)="onDelete(editForm.value.$key)">Delete</a>
  <a class="btn btn-success float-right" (click)="onUpdate(editForm.value)">Update</a>
</div>
<!--<div>{{editForm.value | json}}</div>-->
