<app-header></app-header>
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to actually understanding {{ title }}!
    </h1>
  </div>
  <div class="example1">
    <h4>Example 1</h4>
    Number: {{count | async}}
    <hr>
    <button class="btn btn-success" (click)="onIncrement()">Increment</button>
    <button class="btn btn-danger" (click)="onDecrement()">Decrement</button>
    <button class="btn btn-secondary" (click)="onReset()">Reset</button>
  </div>
</div>

