<form [formGroup]="todoForm" *ngIf="!editing">
  <label for="todo">Todo application:</label>
  <div class="form-inline">
    <br>
    <input class="form-control" type="text" id="todo" formControlName="todo" [(ngModel)]="todo">
    <button class="btn btn-success" (click)="addTodo(todo)">Add</button>
  </div>
</form>
<div *ngIf="editing">
  <label for="editTodo">Editing todo list</label>
  <div class="form-inline">
    <input class="form-control" type="text" id="editTodo" [(ngModel)]="todo">
    <button class="btn btn-success" (click)="updateTodo(todo)">Update</button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <td style="width: 10%">index</td>
    <td style="width: 60%">Todo list</td>
    <td style="width: 10%">Done</td>
    <td style="width: 10%">Edit</td>
    <td style="width: 10%">Delete</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of todos; let i = index">
    <td>{{i}}</td>
    <td [class.done]="todo.done"> {{todo.value}}</td>
    <td><a class="btn btn-success" (click)="toggleDone(i, todo)">Done</a></td>
    <td><button class="btn btn-secondary" (click)="editTodo(todo, i)">Edit</button></td>
    <td><button class="btn btn-danger" (click)="deleteTodo(i)">Del</button></td>
  </tr>
  </tbody>
</table>

