<form [formGroup]="todoForm">
  <label for="todo">Todo application:</label>
  <div class="form-inline">
    <br>
    <input class="form-control" type="text" id="todo" formControlName="todo">
    <button class="btn btn-success" (click)="insertTodo(todoForm.value)">Add</button>
  </div>
</form>
<div>{{todoForm.value | json}}</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <td>index</td>
    <td>name</td>
    <td>done</td>
    <td>update</td>
    <td>delete</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of todos.todoReducer; let i = index">
    <td>{{i}}</td>
    <td>{{t.value.todo}}</td>
    <td><button class="btn btn-outline-success">Done</button></td>
    <td><button class="btn btn-outline-info">Update</button></td>
    <td><button class="btn btn-outline-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
