<h3>Reactive Form</h3>
<h5>1. <em>Search Form</em></h5>
<input type="search"
       class="form-control"
       placeholder="Please enter search term"
         [formControl]="searchField">
<br>
<ul class="list-unstyled">
  <li *ngFor="let search of searches">{{ search }}</li>
</ul>
<h5>2. <em>Project Form</em></h5>
<form [formGroup]="projectForm">
  <div class="form-group">
    <label class="">Project:
      <input class="form-control" formControlName="projectName" placeholder="Name project">
    </label>
    <div
      *ngIf="projectForm.get('projectName').invalid && (projectForm.get('projectName').dirty || projectForm.get('projectName').touched)"
      class="alert alert-danger">
      <div *ngIf="projectForm.get('projectName').errors.required">
        Name is required.
      </div>
    </div>
    <label class="">Email:
      <input class="form-control" formControlName="email" placeholder="Email">
    </label>
    <div
      *ngIf="projectForm.get('email').invalid && (projectForm.get('email').dirty || projectForm.get('email').touched)"
      class="alert alert-danger">
      <div *ngIf="projectForm.get('email').errors.required">
        Email is required.
      </div>
      <div *ngIf="projectForm.get('email').errors.email">
        Invalid email
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class=""> Project Status:
      <select class="form-control" formControlName="projectStatus" ngModel="stable">
        <option value="stable">Stable</option>
        <option value="critial">Critial</option>
        <option value="finished">Finished</option>
      </select>
    </label>
  </div>
  <button class="btn btn-success float-right" type="submit" (click)="onClickUpdate()">Update</button>
</form>
<div *ngIf="isShowForm">Project Form:
  <div class="card card-block">
    <h4>Project Name:{{projectName}}</h4>
    <p>Email: {{email1}}</p>
    <p>Status:<em>{{projectStatus}}</em></p>
  </div>
</div>
<div class="clearfix"></div>
<hr>
<h5>3. <em>Hero Form</em></h5>
<form [formGroup]="heroForm">
  <div class="form-group">
    <label for="nameHero">Name Hero</label>
    <input class="form-control" type="text" id="nameHero" placeholder="Hero name:" formControlName="nameHero">
    <div *ngIf="heroForm.get('nameHero').invalid && (heroForm.get('nameHero').dirty || heroForm.get('nameHero').touched)"
      class="alert alert-danger">
      <div *ngIf="heroForm.get('nameHero').errors.required">
        Name is required.
      </div>
      <div *ngIf="heroForm.get('nameHero').errors.nameHeroTaken">
        Name hero be exist
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="attribute">Attriibute Hero</label>
    <input class="form-control" type="text" id="attribute" placeholder="Attriibute name:" formControlName="attribute">
    <div *ngIf="heroForm.get('attribute').invalid && (heroForm.get('attribute').dirty || heroForm.get('attribute').touched)"
      class="alert alert-danger">
      <div *ngIf="heroForm.get('attribute').errors.required">
        Attribute is required.
      </div>
    </div>
  </div>
</form>
