<div class="container">
  <div class="row">
    <div class="col-sm-2 text-center">
      <div class="previous">
        <button class="btn btn-secondary btn-sm" (click)="onClickLoadPrev()">Previous</button>
      </div>
    </div>
    <div class="col-sm-8 text-center">
      <div class="image">
        <img src="{{urlImage}}" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-sm-2 text-center">
      <div class="next">
        <button class="btn btn-secondary btn-sm" (click)="onClickLoadNext()">Next</button>
      </div>
    </div>
  </div>
</div>
